body { font-family: Arial; margin: 0; background: #e6d5c3; }

.header { background: #c8641a; color: white; text-align: center; padding: 25px; }

.container { max-width: 900px; margin: auto; padding: 20px; }

.card { background: #eee; border-radius: 12px; padding: 20px; margin: 15px 0; }

.grid { display: grid; grid-template-columns: 1fr 1fr; gap: 15px; }

h2 { color: #c8641a; }

/* TABLE */
table { width: 100%; border-collapse: collapse; background: #fff; }

th { background: #c8641a; color: white; padding: 12px; }

td { padding: 12px; text-align: center; border-bottom: 1px solid #ddd; }

td img { width: 60px; height: 60px; object-fit: contain; }
